$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
/*las MQ las importé de bootstrap nose si estan bien asi pero cuando le di a inspeccionar funcionaba*/