/*recuadros del index*/
%multimedia{
    .multimedia{
    .efemerides{
        .actividadesRecuadro{
            .coloniaVeranoRecuadro{
                .proAnualRecuadro{
                    padding: 100px 10px;
                    border: 2px solid black;
                    margin: 40px 20px;
                    width: 250px;
                    height: 100px;
                }
            }
        }
    }
}
}