@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Anton&family=Meow+Script&family=Pacifico&family=Permanent+Marker&family=Roboto:ital,wght@0,100;1,300&family=Zen+Kaku+Gothic+Antique:wght@900&display=swap');
html{
    scroll-behavior: smooth;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
*{
    margin: 0pt;
    padding: 0pt;
}

/*Subtitulo en movimiento del index*/
.subtituloGenios {
    background-color:rgb(24, 2, 44);
    padding-top: 6rem;
  margin: 0;
  height: calc(40vh - 20px);
  font-size: 4rem;
  text-align: center;
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 0.1rem 0.25rem rgb(49, 109, 238);
  -webkit-font-smoothing: antialiased;
  border: solid 10px #fff;
}
/*Media para el subtitulo*/
@media (max-width: 360px) {
    .subtituloGenios {
      display: block;
      text-align: center;
      font-size: 2rem;
  
    }
  }
  @media (max-width: 576px) {
    .subSup {
     display: none;
    }
  }
sub, sup {
  font-size: 22px;
  opacity: 0.8;
}

sub {
  font-size: 36px;
  animation: flash 2s infinite;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@keyframes flash {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
/*info en recuadros*/
.blockquote-custom {
  position: relative;
  font-size: 1.1rem;
  font-family: "Roboto";
  
}
/* partedel index*/
.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
}

/*subtitulos de las demas paginas*/
.subtitulo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 4rem;
  font-size: 2rem;
  font-family: "Permanent Marker", cursive;
  color: rgb(24, 2, 44);
}
/*iconos*/
.svg-iconos{
    transition: all 300ms ease-in-out;
}
.svg-iconos:hover{
    transform: scale(1.05);

}

/*GALERIA DE FOTOS */
.container-galeria{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem 1rem;
}
.img-galeria{
    width: 30%;
    transition: all 300ms ease-in-out;
}
.img-galeria:hover{
    transform: scale(1.09);
    box-shadow: -1px 3px 35px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 3px 35px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 35px 5px rgba(0,0,0,0.75);
}
@media (max-width: 360px) {
  .img-galeria {
    width: 80%;
    transition: all 300ms ease-in-out;

  }
}
/*textos de la pagina galeria y oraciones del index*/
.subtColonia{
  font-family: "Amatic SC";
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem 2rem;

}
/*TARJETAS DEL INDEX*/
  .tarjetas{margin:10vh}
  .card{
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
   overflow:hidden;
   border-radius:20px;
   min-height:450px;
     box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
  
   @media (max-width: 768px) {
    min-height:350px;
  }
  
  @media (max-width: 420px) {
    min-height:300px;
  }
  
   &.card-has-bg{
   transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size:120%;
    background-repeat:no-repeat;
    background-position: center center;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);}
  
    &:hover {
      transform: scale(0.98);
       box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
      background-size:130%;
       transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  
      .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(35,79,109);
       background: linear-gradient(0deg, rgba(4,69,114,0.5) 0%, rgba(4,69,114,1) 100%);
       }
    }
  }
   .card-footer{
    background: none;
     border-top: none;
   }
   .card-meta{color:orange}
   .card-body{ 
     transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
   &:hover {
     .card-body{
       margin-top:30px;
       transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
     }
   cursor: pointer;
   transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
   .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
   background: rgb(35,79,109);
  background: linear-gradient(0deg, rgba(35,79,109,0.3785889355742297) 0%, rgba(69,95,113,1) 100%);
  }
  }
  /*video de la pagina PROYECTO ANUAL*/
  .videoPadre{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 1rem;
  }
  
  /*PAGINA CONTACTO*/
  /*TITULO*/
  .formularioTitle{
    font-size: 2rem;
    font-family: "Pacifico", cursive;
    text-align: center;
    padding-bottom: 2rem;
  }
  /*cuerpo pagina contacto*/
  .horarioCont{
    font-family: "Amatic SC";
    padding: 1rem 2rem;
    font-size: 2.5rem;
  }
  .cuerpoContacto{
    padding: 1rem 2rem;
    font-family: "Roboto";
  }
  /*FORMULARIO*/
    /* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: "Amatic SC";
  font-weight:900;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 2rem;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
form label,
form legend {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-family: "Amatic SC";
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}
form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}
  /*PAGINA HISTORIA*/
  .contenedorfotoInstitucional{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fotoInstitucional{
    box-shadow: 0.5rem 0.5rem rgb(24, 2, 44);
  }
  .textoHistoria{
    font-family: "Roboto";
    size: 2rem;
    padding: 2rem 2rem;
  }
  .body-historia{
    p::first-letter {
      font-size: 5em;
	color:rgb(24, 2, 44);
  }}
