 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
@import "./media-queries";
html{
    scroll-behavior: smooth;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
*{
    margin: 0pt;
    padding: 0pt;
}
#carouselGenios{
    margin: 5%;
    width: 80%;
    display: flex;
    position: relative;
}
h2{
    padding: 2em;
    position:static;
}
.svg-iconos{
    transition: all 300ms ease-in-out;
}
.svg-iconos:hover{
    transform: scale(1.05);

}
/*galeria de la pagina Fotos grid*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 3fr));
    grid-auto-rows: 100px;
    grid-gap: 10px;
}
.img-galeria{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-galeria:first-child{
    grid-column: 1/3;
    grid-row: 1/3;
}
.img-galeria:nth-child(13){
    grid-column: 2/4;
    grid-row: 3/5;
}
.img-galeria:nth-child(9){
    grid-row: span 3;
}
.img-galeria:nth-child(14){
    grid-row: span 3;
}
.img-galeria:nth-child(15){
    grid-row: span 3;
}
/*GALERIA DE FOTOS DE COLONIA DE VERANO*/
.container-galeria{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}
.img-galeria{
    width: 30%;
    transition: all 300ms ease-in-out;
}
.img-galeria:hover{
    transform: scale(1.05);
    box-shadow: -1px 3px 35px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 3px 35px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 35px 5px rgba(0,0,0,0.75);
}
/*FOTOS DE LA PAGINA ACTIVIDADES*/
.grid-containerActividades{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
}
.imagenActividades{
    width: 30%;
    transition: all 300ms ease-in-out;
}
.imagenActividades:hover{
    transform: scale(1.05);
    box-shadow: -1px 3px 35px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 3px 35px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 35px 5px rgba(0,0,0,0.75);
}